<div id="navbar" class="navbar navbar-default ace-save-state">
    
    
  <div class="navbar-container ace-save-state" id="navbar-container">
        <div class="zipnachleftdiv">
      <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler"
          data-target="#sidebar">
          <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span><span class="icon-bar">
          </span><span class="icon-bar"></span>
      </button>
      
            
      <div class="navbar-header pull-left">
          <a href="#" class="navbar-brand"><small><i class="fa fa-leaf"></i>ZipNach </small>
          </a>
      </div>
    </div>
    
      <div class="navbar-buttons navbar-header pull-right adminddl" role="navigation">
          <ul class="nav ace-nav">
              <li class="light-blue dropdown-modal"><a data-toggle="dropdown" href="#" class="dropdown-toggle no-padding" >
                  <span class="user-info" style="color:white;">Welcome
                  
                  </span><i class="ace-icon fa fa-caret-down"></i></a>
                  <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                      <li class="logouthover" onclick="changepwd()"><i class="logoutdiv ace-icon fa fa-key"
                          aria-hidden="true"></i><span class="logoutcolor">Change Password</span> </li>
                      <li class="logouthover" onclick="Logout();"><i class="logoutdiv ace-icon fa fa-power-off">
                      </i><span class="logoutcolor">LogOut</span> </li>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="guideDiv">
          <ul>
              <li id="guide"><i class="fa fa-file-text" aria-hidden="true" title="New"></i>
                  <label style="cursor: pointer;">
                      Guidelines</label></li>
          </ul>
      </div>
    
    





      <div id="changePassword" style="display: none;" title="Change Password">
          <div class="col-md-12 col-sm-12 col-xs-12 no-padding" style="margin-top: 4%;">
              <div class="form-group">
                  <label id="Label3" class="col-md-12 col-sm-12 col-xs-12 control-label no-padding-right">
                      Old Password<span class="red">*</span></label>
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding-right">
                      <input type="password" id="txtOldPassword" onkeyup="ChangeTxt()" class="col-md-12 col-sm-12 col-xs-12" />
                  </div>
              </div>
              <div class="form-group">
                  <label id="Label4" class="col-md-12 col-sm-12 col-xs-12 control-label no-padding-right">
                      New Password<span class="red">*</span></label>
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding-right">
                      <input type="password" id="txtNewPassword" onkeyup="ChangeTxt()" class="col-md-12 col-sm-12 col-xs-12" />
                  </div>
              </div>
              <div class="form-group">
                  <label id="Label5" class="col-md-12 col-sm-12 col-xs-12 control-label no-padding-right">
                      Confirm Password<span class="red">*</span></label>
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding-right">
                      <input type="password" id="txtCnfmPassword" onkeyup="ChangeTxt()" onchange=" ConfirmPW()"
                          class="col-md-12 col-sm-12 col-xs-12" />
                  </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <label id="lblChangePWmsg" style="color: Red">
                  </label>
              </div>
          </div>
      </div>
  </div>

  <div id="guidelines">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
          <h5 style="text-align: center; display: none; ">
              Guidelines</h5>
          <ul style="margin-left: 15px;">
              <li>File size can't be more than 3 MB and resolution must be equal to or greater than
                  300 dpi.</li>
              <li>Mandate form has to be filled by black gel pen.</li>
              <li>Amount is < = ENACH max. value.</li>
              <li>'To Date' is mandatory for ENACH.</li>
              <li>ENACH is not allowed for Joint Account.</li>
          </ul>
      </div>
      
  </div>
  
</div>
