
    <div class="main-content">
      <div class="content">
          <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
              <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                  <span class="legal">Bulk Mandate</span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-9 no-padding" style="float: right">
                  <div class="toolbar pull-right">
                       <ul class="toolbar-content">
                          <li id="btnNew"><i class="fa fa-file-text" aria-hidden="true" title="New"></i>
                              <label>
                                  New</label></li>
                          <li id="btnEdit"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
                              <label>
                                  Edit</label>
                          </li>
                          <li id="btnSave"><i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i>
                              <label>
                                  Save</label></li>
                          <li id="btnDelete"><i class="fa fa-times" aria-hidden="true" title="Delete"></i>
                              <label>
                                  Delete</label>
                          </li>
                          <li id="btnBack"><i class="fa fa-reply" aria-hidden="true" title="Back"></i>
                              <label>
                                  Back</label></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div>
            <ag-grid-angular 
style="width: 100%; height: 520px;" 
class="ag-theme-balham"
[rowData]="rowData" 
[columnDefs]="columnDefs"
></ag-grid-angular>

  </div>
         </div> 
          
           
   
      </div>
  </div>

  

