
 
  <div id="sidebar" class="sidebar responsive ace-save-state">
    
      <ul class="nav nav-list">
          <li id="Li9" style="display: none"><a><i
              class=" menu-icon fa fa-tachometer" aria-hidden="true"></i><span id="Span9" class="menu-text">
                  Dashboard</span></a> </li>
          <li id="Li6"  [routerLinkActive]='["active"]'><a [routerLink]='["/entity"]'><i class=" menu-icon fa fa-exclamation-triangle"
              aria-hidden="true"></i><span id="Span6" class="menu-text">Entity </span></a>
          </li>
          <li id="Li8" [routerLinkActive]='["active"]'><a [routerLink]='["/user"]'><i class=" menu-icon fa fa-user"
              aria-hidden="true"></i><span id="Span8" class="menu-text">User</span></a> </li>
          <li id="Li7" [routerLinkActive]='["active"]'><a [routerLink]='["/mandateform"]'><i class=" menu-icon fa fa-list-ul"
              aria-hidden="true"></i><span id="Span7" class="menu-text">Mandate Form</span></a>
          </li>
          <li id="L" [routerLinkActive]='["active"]'><a [routerLink]='["/historical"]'><i
              class=" menu-icon fa fa-list-ul" aria-hidden="true"></i><span id="Span5" class="menu-text">
                  Historical Mandate</span></a> </li>
          <li id="Li2" [routerLinkActive]='["active"]'><a [routerLink]='["/uploadmandate"]'><i
              class="menu-icon fa fa-file-excel-o" aria-hidden="true"></i><span id="Span2" class="menu-text">
                  Upload Mandates</span></a> </li>
          <li id="l7" [routerLinkActive]='["active"]'><a [routerLink]='["/report"]'><i class="menu-icon fa fa-file-excel-o"
              aria-hidden="true"></i><span id="Span10" class="menu-text">Report</span></a>
          </li>
          <li id="Li1" [routerLinkActive]='["active"]'><a [routerLink]='["/downloadmandate"]'><i
              class="menu-icon fa fa-download"></i><span id="Span1" class="menu-text">Download Mandate</span></a></li>
          <li id="Li30" [routerLinkActive]='["active"]'><a [routerLink]='["/download-e-mandate"]'><i
              class="menu-icon fa fa-download"></i><span id="Span11" class="menu-text">Download E-Mandate</span></a></li>
          <li id="Lsdfi3" [routerLinkActive]='["active"]'><a [routerLink]='["/downloadoldmandate"]'>
              <i class="menu-icon fa fa-download"></i><span id="Span3" class="menu-text">Download
                  Old Mandate</span></a></li>
          <li id="Li40" [routerLinkActive]='["active"]'><a [routerLink]='["/downloadoldemandate"]'>
              <i class="menu-icon fa fa-download"></i><span id="Span12" class="menu-text">Download
                  Old E-Mandate</span></a></li>
         
          <li style="display: none" id="Lvdi3"><a>
              <i class="menu-icon fa fa-download"></i><span id="Span4" class="menu-text">Account Validate
              </span></a></li>
          <li id="Li33" [routerLinkActive]='["active"]'><a [routerLink]='["/bulkmandate"]'><i class="menu-icon fa fa-upload">
          </i><span id="Span13" class="menu-text">Bulk Mandate </span></a></li>
          <li id="Li37" [routerLinkActive]='["active"]'><a [routerLink]='["/bulkemandate"]'><i class="menu-icon fa fa-upload">
          </i><span id="Span14" class="menu-text">Bulk E-Mandate </span></a></li>
          <li id="Li38" [routerLinkActive]='["active"]'><a [routerLink]='["/bulkresendemandate"]'><i
              class="menu-icon fa fa-upload"></i><span id="Span15" class="menu-text">Bulk Resend E-Mandate
              </span></a></li>
         
              
      </ul>
      
      <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
          <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
              data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right">
          </i>
      </div>
  </div>
  
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110">
  </i></a>
