<div class="main-content">
  <div class="content" style="margin-top: 4%;">
      <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
          <div class="col-sm-3 col-md-3 col-xs-12 no-padding">
              <span class="legal">Bulk Resend E-Mandate</span>
              
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 no-padding" style="float: right">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                      
                      <li id="Li1">
                          
                          
                      </li>
                      <li>
                          
                          
                      </li>
                      <li>
                          
                          
                      </li>
                      <li id="Li2">
                          
                          
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      
  </div>
</div>





