<div>
<form class="form loginplace">
<div id="login-box">
    <h1>
        Login</h1>
    <div class="inset">
        <p>
            <label for="email">
                UserName</label>
            <input type="text" id="txtUsername" class="form-control" placeholder="Username"/>
        </p>
        <p>
            <label for="password">
                Password</label>
            <input type="text" id="txtpassword" class="form-control" placeholder="Password"
                TextMode="Password"/>
        </p>
        <label id="lblDispMessage" Visible="false" CssClass="err"></label>
        <input type="button" class="loginbtn" id="btnLogin" value="Secure Login" />
    </div>
    <p class="p-container">
        <span id="forgotbtn" style="cursor: pointer">Forgot password ?</span>
    </p>
</div>
<div id="forgot-box" style="display: none">
    <h1>
        Retrieve Password</h1>
    <div class="inset">
        <p style="margin-top: 8%">
            <label for="password">
                Email</label>
          <input name="Email" type="text" id="txtEmail" onkeypress="Removemsg();" class="form-control "
                                                    runat="Server" placeholder="Email" />
        </p>
        <input type="button" class="loginbtn" id="Button1" runat="server" Text="Agree"  Style="margin-top: 12%" />
    </div>
    <p class="p-container">
        <span id="logbtn" style="cursor: pointer">Login</span>
    </p>
</div>
</form>
</div>
