.button
{
 
     background: url(../images/edit1.jpg) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 73%;
    width: 59%;
   
}
 
 .button1
{
 
     background: url(../images/new2.jpg) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 67%;
    width: 59%;

}

.button2
{
 
     background: url(../images/save5.png) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 72%;
    width: 45%;
    margin-top:4px;
  
}

.button3
{
 
     background: url(../images/delete.jpg) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 63%;
    width: 49%;
   margin-top:4px;
}  

.button4
{
 
     background: url(../images/xlexport.png) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 73%;
    width: 59%;
  
}  



.button5
{
 
     background: url(../images/back7.jpg) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 73%;
    width: 59%;
    height:29px;
}  

.button6
{
 
     background: url(../images/back7.jpg) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 73%;
    width: 59%;
  
    margin-left: 35px;
}  
.button7
{
 
     background: url(../images/blueback.jpg) no-repeat;
   cursor:pointer;
   border: none;
   background-size: 70%;
    width: 4%;
    height:28px;
}  

ul.toolbar-content {
    height: 34px;
}

#debitto .lblradiobtnss:nth-child(4), #debitto .lblradiobtnss:nth-child(5), #debitto .lblradiobtnss:nth-child(6) {
  width: 20%;
}
#debitto .lblradiobtnss:nth-child(1), #debitto .lblradiobtnss:nth-child(2), #debitto .lblradiobtnss:nth-child(3) {
  width: 13%;
}
      #ContentPlaceHolder1_overlay1
      {
          background: #fff;
          clear: both;
          overflow: hidden;
          display: block;
          width: 39.5%;
          height: 32%;
          z-index: 999;
          position: fixed;
          transition: opacity 500ms;
          visibility: hidden;
      }
      #ContentPlaceHolder1_overlayfund
      {
          background: #fff;
          clear: both;
          overflow: hidden;
          display: block;
          width: 39.5%;
          height: 45%;
          z-index: 999;
          position: fixed;
          transition: opacity 500ms;
          visibility: hidden;
      }
      #preloader_1 label
      {
          clear: both;
          margin-bottom: 28% !important;
          font-weight: bold;
      }
      .bgcolor
      {
          background: linear-gradient(#59d1ff,#d1e6f9);
          padding: 2% 2% 2% 2% !important;
      }
      #printForm, #UnSuccess, #admin, #reject, #DivCancel, #DateMandatoryESign, #MsgDiv, #refund, #technicalIssue, #Fund, #DivSecondTimeESP
      {
          padding: 0 !important;
      }
      #UnSuccess .form-group
      {
          margin-bottom: 2%;
      }
      #UnSuccess .form-group label
      {
          text-align: left;
      }
      #UnSuccess i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -35%;
          left: 46%;
          color: #cbe5f9;
      }
      #Fund i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -42%;
          left: 46%;
          color: #cbe5f9;
      }
      #Fund .bankbg
      {
          margin: 1% 0 1% 0;
      }
      #Fund .bankbg label
      {
          text-align: left;
      }
      #refund i, #technicalIssue i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -67%;
          left: 46%;
          color: #cbe5f9;
      }
      #refund .lblmsg, #technicalIssue .lblmsg
      {
          margin-top: 7%;
          margin-bottom: 5%;
      }
      #MsgDiv .fa-caret-down
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -35%;
          left: 46%;
          color: #cbe5f9;
      }
      #MsgDiv .form-group
      {
          margin-bottom: 1%;
      }
      #MsgDiv .form-group label
      {
          text-align: left;
      }
      #DateMandatoryESign i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -42%;
          left: 46%;
          color: #cbe5f9;
      }
      #DivCancel i, #DIVPhysical i, #DIVEMandate i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -70%;
          left: 46%;
          color: #cbe5f9;
      }
      #DIVPhysical, #DIVEMandate
      {
          padding: 0;
      }
      .Popupdelete
      {
          width: 45% !important;
          float: left !important;
      }
      
      #reject i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -42%;
          left: 46%;
          color: #cbe5f9;
      }
      #admin i
      {
          font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -48%;
          left: 46%;
          color: #cbe5f9;
      }
      #DivSecondTimeESP i
      {
           font-size: 65px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: -40%;
          left: 46%;
          color: #cbe5f9;
      }
      .aa .table-condensed .prev
      {
          visibility: visible;
          display: block !important;
          pointer-events: none !important;
      }
      .popclose
      {
          position: absolute;
          border: 1px solid #447cc4;
          border-radius: 3px;
          padding: 3px 4px 0px 4px;
          right: 0;
          top: 0;
          background: #43a6d6;
          color: #fff;
      }
      .close
      {
          position: absolute;
          right: 0px;
          top: 2px;
          background: #136790; /* border-radius: 50%; */
          color: #fff;
          padding: 5px 5px 4px 5px;
          border: 2px Solid #fff;
          box-shadow: -2px 2px 2px #cdcdcd;
          cursor: pointer;
          opacity: 1;
      }
      #mandate .checkbox label, #mandate .radio label
      {
          min-height: 20px;
          padding-left: 14px;
          margin-bottom: 0;
          font-weight: 400;
          cursor: pointer;
          text-align: center;
          padding-top: 3px !important;
      }
      #mandate .checkbox, #mandate .radio
      {
          margin-bottom: 0;
          margin-top: 0px !important;
      }
      label
      {
          margin: 0 !important;
          font-size: 11px;
      }
      #mandate .form-group
      {
          margin-bottom: 0;
          display: block;
          overflow: hidden;
          margin-top: 0;
      }
      #mandate .form-group input
      {
          background: #FFF;
      }
      #frequency label, #debitto label
      {
          background: none;
          text-align: left;
      }
      #debittype label
      {
          background: none;
      }
      .border
      {
          border: 1px solid #989797;
      }
      .labeldiv
      {
          height: 22px;
          background: #d4d4d4;
          border-right: 1px solid #8c8787;
      }
      .labeldiv label
      {
          margin: 4px 0 0 10px !important;
          font-weight: bold !important;
      }
      #mandate .form-group div label
      {
          font-weight: bold !important;
      }
      #pnl2 .form-group input
      {
          border: 1px solid #cdcdcd;
      }
      
      #mandate .form-group input
      {
          font-size: 12px; /* padding: 0; */
          height: 22px;
          border: none;
      }
      .contnt-wrapper
      {
          margin-top: 0%;
      }
      .popupmandate label
      {
          text-align: center;
          font-size: 13px !important;
      }
      iframe
      {
          border: none;
      }
      .ui-dialog .ui-dialog-buttonpane
      {
          margin: 0 !important;
          padding: 0 !important;
      }
      .cust-name input
      {
          border: 1px solid #cdcdcd;
      }
      .k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input
      {
          height: 1.3em !important;
      }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
      {
          float: none !important;
      }
      .ui-dialog .ui-dialog-buttonpane button
      {
          margin: 0 !important;
          cursor: pointer !important;
          width: 100% !important;
      }
      iframe body
      {
          overflow: hidden;
      }
      #mandate .checkbox, #mandate .radio
      {
          margin-bottom: 0;
          margin-top: 0px !important;
      }
      .note
      {
          margin-top: 1%;
      }
      input[type=text]:focus, textarea:focus
      {
          box-shadow: 0 0 6px rgb(248, 248, 248);
          padding: 3px 0px 3px 3px; /* margin: 5px 1px 3px 0px; */
          border: 1px solid rgb(15, 217, 102);
          background: #c3ffdd;
      }
      .k-dropdown:focus .k-dropdown-wrap, .radio:focus
      {
          box-shadow: 0 0 6px rgb(248, 248, 248);
          border: 1px solid rgb(15, 217, 102);
          background: #c3ffdd;
      }
      div.radio:focus-within
      {
          box-shadow: 0 0 6px rgb(248, 248, 248);
          border: 1px solid rgb(15, 217, 102);
          background: #c3ffdd;
      }
      div.chkbox:focus-within
      {
          box-shadow: 0 0 6px rgb(248, 248, 248);
          border: 1px solid rgb(15, 217, 102);
          background: #c3ffdd;
      }
      #changePassword input
      {
          height: 28px;
          border: 1px solid #cdcdcd;
      }
      #changePassword .form-group
      {
          margin-bottom: 3.3%;
      }
      #mandate input[type=checkbox]
      {
          height: 15px !important;
      }
      .toolbar-content i
      {
          font-size: 16px;
          color: #1f497d;
          padding: 5px 2px 5px 2px;
      }
      #DivCancel .text
      {
          margin-top: 6%;
          margin-bottom: 3%;
      }
      .btnDiv input
      {
          margin: 0 0.5% 0 0.5%;
      }
      #MsgDiv .text
      {
          margin: 5% 0 0 0 !important;
      }
      #divreference img
      {
          width: 9%;
      }
      #reject .lblbody
      {
          margin-top: 6%;
          margin-bottom: 3%;
      }
      #ScanForm iframe
      {
          height: 640px;
      }
      .overlay
      {
          background: #fff;
          clear: both;
          overflow: hidden;
          display: block;
          width: 100%;
          height: 80%;
          z-index: 999;
      }
      #Fund .lblPopup
      {
          margin: 4% 0 3% 0 !important;
      }
      .btnESP
      {
          width: 48%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1%;
      }
      .lblESP
      {
          color: #1f3c61;
           margin: 6% 0 1% 0!important;
      }
      .lblESP2
      {
          margin-bottom:2%!important;
      }
      @media (min-width:767px) and (max-width:991px)
      {
          label
          {
              font-size: 10px !important;
          }
      }
      @media only screen and (max-width: 450px) and (min-width: 320px)
      {
           #debitto .lblradiobtnss:nth-child(4), #debitto .lblradiobtnss:nth-child(5), #debitto .lblradiobtnss:nth-child(6) {
  width: 33%;
}
#debitto .lblradiobtnss:nth-child(1), #debitto .lblradiobtnss:nth-child(2), #debitto .lblradiobtnss:nth-child(3) {
  width: 33%;
}
           .lblESP2
      {
          margin-bottom:5%!important;
      }
          .lblESP
      {
          color: #1f3c61;
           margin: 11% 0 1% 0!important;
      }
          #DivSecondTimeESP i {
  font-size: 65px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -80%;
  left: 44%;
  color: #cbe5f9;
}
          #ContentPlaceHolder1_overlay1
          {
              width: 91.5%;
              height: 25%;
          }
          .labeldiv
          {
              height: 19px;
          }
          #mandate .form-group input[type=text]
          {
              height: 19px;
          }
          #preloader_3
          {
              position: relative;
              margin: 30% 0 0 28%;
          }
          .overlay
          {
              width: 100%;
              height: 74%;
          }
          #preloader_1
          {
              position: relative;
              margin: 44% 0 0 37%;
          }
          #mandate .checkbox, #mandate .radio
          {
              min-height: 30px !important;
          }
          .labeldiv label
          {
              margin: 4px 0 0 5px !important;
          }
      
          .radio label
          {
              min-height: 15px;
          }
          .note
          {
              margin-top: 3%;
          }
          #UnSuccess i
          {
              font-size: 57px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -48%;
              left: 42%;
              color: #cbe5f9;
          }
          #mandate .form-group input
          {
              font-size: 10px;
          }
          .popupmandate label
          {
              font-size: 11px !important;
          }
          #DivCancel i, #DIVPhysical i, #DIVEMandate i
          {
              font-size: 55px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -100%;
              left: 44%;
              color: #cbe5f9;
          }
          #DivCancel .text
          {
              margin-top: 10%;
              margin-bottom: 3%;
          }
          .btnDiv input
          {
              margin: 0 2% 2% 1%;
          }
          #MsgDiv .fa-caret-down
          {
              font-size: 55px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -48%;
              left: 44%;
              color: #cbe5f9;
          }
          #MsgDiv .text
          {
              margin: 7% 0 0 0 !important;
          }
          #DivRefrenceDetail .form-group
          {
              margin-bottom: 1%;
          }
          #DivRefrenceDetail .form-group div label
          {
              font-size: 11px !important;
          }
          #divreference i
          {
              font-size: 55px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -45%;
              left: 43%;
              color: #cbe5f9;
          }
          #DivRefrenceDetail
          {
              margin-top: 4%;
          }
          #divreference img
          {
              width: 12%;
          }
          #admin i
          {
              font-size: 65px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -77%;
              left: 44%;
              color: #cbe5f9;
          }
          #reject i
          {
              font-size: 65px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -82%;
              left: 43%;
              color: #cbe5f9;
          }
          #reject .lblbody
          {
              margin-top: 10%;
              margin-bottom: 5%;
          }
          #ScanForm iframe
          {
              height: 540px;
          }
          #DateMandatoryESign i
          {
              font-size: 65px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -76%;
              left: 44%;
              color: #cbe5f9;
          }
          #refund i, #technicalIssue i
          {
              font-size: 65px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -115%;
              left: 43%;
              color: #cbe5f9;
          }
          #refund .lblmsg, #technicalIssue .lblmsg
          {
              margin-top: 9%;
              margin-bottom: 5%;
          }
          #Fund i
          {
              font-size: 65px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -70%;
              left: 44%;
              color: #cbe5f9;
          }
          #Fund .lblPopup
          {
              margin: 8% 0 5% 0 !important;
          }
      }
      