<div class="main-content">
               <div class="content" style="margin-top:4%;">
            <div class="col-md-12 contnt-wrapper" id="">
                <div class="col-sm-4 col-md-4 col-xs-4 no-padding">
                    <span class="legal">Upload Mandates</span>
                </div>
                <div class="col-md-8 no-padding">
                    <div class="toolbar pull-right" id="toolbar" >
                        <ul class="toolbar-content">
                           
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
            
                    </div>
                </div>
           

