<div class="main-content">
  <div class="content" style="margin-top: 4%;">
      <div class="col-md-6 col-sm-6 col-xs-4 contnt-wrapper">
          <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
              <span class="legal">User</span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-9 no-padding" style="float: right">
              <div class="toolbar pull-right">
                  <ul class="toolbar-content">
                      <li id="btnNew"><i class="fa fa-file-text" aria-hidden="true" title="New"></i>
                          <label>
                              New</label></li>
                      <li id="btnEdit"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
                          <label>
                              Edit</label>
                      </li>
                      <li id="btnSave"><i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i>
                          <label>
                              Save</label></li>
                      <li style="display:none" id="btnDelete"><i class="fa fa-times" aria-hidden="true" title="Delete"></i>
                          <label>
                              Delete</label>
                      </li>
                      <li id="btnBack"><i class="fa fa-reply" aria-hidden="true" title="Back"></i>
                          <label>
                              Back</label></li>
                  </ul>
              </div>
          </div>
      </div>
      
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="preloader_1" style="display: none">
              <span></span><span></span><span></span><span></span><span></span>
              <label>
                  Loading...</label>
          </div>
          <div id="grdEntity">
          </div>
      </div>
      <label id="lblmsg" class="status-lbl" style="display: none;">
      </label>
      <div id="divform" class=" col-md-12 col-sm-12 col-xs-12 no-padding" style="display: block;">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="">
                  <div class="srol">
                      <div id="accordion1" class="accordion-style1 panel-group">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#branch">
                                          <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down"
                                              data-icon-show="ace-icon fa fa-angle-right"></i>&nbsp;Add/Edit </a>
                                  </h4>
                              </div>
                              <div class="panel-collapse collapse in" id="branch">
                                  <div class="panel-body">
                                      <div class=" col-sm-12 col-xs-12 col-md-12 no-padding">
                                          <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      User Type
                                                  </label>
                                                  <div id="User" class="col-sm-8 col-md-7 col-xs-7 no-padding-right radio">
                                                      <label class="lblradiobtnss col-md-6 col-sm-6 col-xs-6">
                                                          <input name="rdoNomUser" id="Radio1" value="a" type="radio" onclick="RemoveClass();" />
                                                          <span>Administrator</span>
                                                      </label>
                                                      <label class="lblradiobtnss col-md-6 col-sm-3 col-xs-6">
                                                          <input name="rdoNomUser" id="Radio2" value="u" type="radio" onclick="RemoveClass();" />
                                                          <span>User</span>
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      User ID
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="text" id="txtuserId" onkeyup="RemoveClass();" class="col-sm-12 col-md-12 col-xs-12" />
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      Sponsor Bank Code
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="text" id="ddlSponsorBankCodeId" class="col-sm-12 col-md-12 col-xs-12 no-padding" />
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      Contact No.
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="text" id="txtContactNo" class="col-sm-12 col-md-12 col-xs-12" />
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      Password
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="password" id="txtPassWord" onkeyup="RemoveClass();" class="col-sm-12 col-md-12 col-xs-12" />
                                                  </div>
                                              </div>
                                               <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      Email to be sent on
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="text" id="txtEmailSendTo" onkeyup="RemoveClass();" class="col-sm-12 col-md-12 col-xs-12 no-padding" />
                                                  </div>
                                              </div>
                                         
                                              
                                          </div>
                                          <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      Email Address
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="text" id="txtEmailId" class="col-sm-12 col-md-12 col-xs-12" />
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                      Confirm Password
                                                  </label>
                                                  <div class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input type="password" id="txtConFirmPassword" onkeyup="RemoveClass();" class="col-sm-12 col-md-12 col-xs-12" />
                                                  </div>
                                              </div>
                                                <div class="form-group">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                   Mandate Access
                                                  </label>
                                                  <div id="divMandate" class="col-sm-7 col-md-7 col-xs-7 no-padding-right">
                                                      <input  onclick="RemoveClass();" type="checkbox" id="chkSingle" class="pull-left"/>
                                                  <div class="col-md-10 col-sm-10 col-xs-11 no-padding">
                                                      <label class=" col-md-12 col-xs-12 col-sm-12 control-label">
                                                          Single Mandate</label></div>
                                                         
                                                  <div class="col-md-10 col-sm-10 col-xs-11 no-padding" style="display:none">
                                                   <input onclick="RemoveClass();" type="checkbox" id="chkBulk" class="pull-left" style="clear:both"/>
                                                      <label class=" col-md-12 col-xs-12 col-sm-12 control-label">
                                                          Bulk Validation</label></div>
                                                          <input   type="checkbox" id="chkMandateEdit" class="pull-left" style="clear:both"/>
                                                  <div class="col-md-10 col-sm-10 col-xs-11 no-padding">
                                                      <label class=" col-md-12 col-xs-12 col-sm-12 control-label">
                                                          Mandate Edit</label></div>
                                                          <input  type="checkbox" id="chkRefrenceEdit" class="pull-left" style="clear:both"/>
                                                  <div class="col-md-10 col-sm-10 col-xs-11 no-padding">
                                                      <label class=" col-md-12 col-xs-12 col-sm-12 control-label">
                                                          Reference Edit</label></div>




                                                          
                                                

                                                  </div>
                                                  
                                              </div>

                                              <div class="col-md-12 col-sm-12 col-xs-12 no-padding" id="DivchkAllowFundTransfer" style="display:none">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                 Access Code
                                                  </label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                  <input  type="checkbox" id="chkAllowFundTransfer" class="pull-left"/>
                                                      <label class="no-padding" style="margin-left:6%;font-weight:normal">
                                                           Allow Fund Transfer</label></div>
                                              </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                                  <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                                 
                                                  </label>
                                                <div class="col-md-8 col-sm-8 col-xs-8" id="DivIsZipSure">
                                                  <input type="checkbox" class="pull-left" id="chkIsZipSure"/>
                                                      <label class=" no-padding" style="margin-left:6%;font-weight:normal">
                                                          Is Ziplink</label></div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class=" col-sm-12 col-xs-12 col-md-12">
                                          <div class="col-md-12 col-sm-12 col-xs-12 " id="ModeOfPayment">
                                              <div class="col-md-3 col-xs-3 col-sm-3" id="DivCash" style="display: none">
                                                  <div class="col-md-10 col-xs-10 col-sm-10" style="text-align: -webkit-center;">
                                                      <img class="banner1" src="../images/cashondelivery.png" alt="" /></div>
                                                  <div >
                                                      <label class="col-md-10 col-sm-5 col-xs-4" style="text-align: -webkit-center;">
                                                          <input id="Chkmode1" value="Cash" type="checkbox" />
                                                          <span>Cash</span>
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="col-md-3 col-xs-3 col-sm-3" id="DivCheque" style="display: none">
                                                  <div class="col-md-10 col-xs-10 col-sm-10" style="text-align: -webkit-center;">
                                                      <img class="banner1" src="../images/chequ.png" alt="" /></div>
                                                  <div>
                                                      <label class="col-md-10 col-sm-5 col-xs-4" style="text-align: -webkit-center;">
                                                          <input id="Chkmode2" value="Cheque" type="checkbox" />
                                                          <span>Cheque</span>
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="col-md-3 col-xs-3 col-sm-3" id="DivDD" style="display: none">
                                                  <div class="col-md-10 col-xs-10 col-sm-10" style="text-align: -webkit-center;">
                                                      <img class="banner1" src="../images/Ddraft.png" alt="" /></div>
                                                  <div>
                                                      <label class="col-md-10 col-sm-5 col-xs-4" style="text-align: -webkit-center;">
                                                          <input id="Chkmode3" value="DD" type="checkbox" />
                                                          <span>Demand Draft</span>
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="col-md-3 col-xs-3 col-sm-3" id="DivElectronic" style="display: none">
                                                  <div class="col-md-10 col-xs-10 col-sm-10" style="text-align: -webkit-center;">
                                                      <img src="../images/online.png" style="width: 15%;" alt="" /></div>
                                                  <div>
                                                      <label class="lblradiobtnss col-md-10 col-sm-5 col-xs-4" style="text-align: -webkit-center;">
                                                          <input id="Chkmode4" value="E" type="checkbox" />
                                                          <span>Electronic</span>
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
